* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  img {
    width: 600px;
    height: 300px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 400px;
  }
  
  .buttons {
    display: flex;
  }
  
  input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    margin-right: 10px;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ddd;
  }
